.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    padding: 20px;
    border: 1px solid #af8e9f;
    font-size: 14px;
    margin: 20px 0px;
    color: #5e4250 ;
}
.order-item-food, .order-item-name{
    font-weight: 600;
}
.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
    background-color: #d1c9cd;
    border: 1px solid #e3dde0;
    color: #5e4250;
    width: max(10vw, 140px);
    padding: 10px;
    outline: none;
    cursor: pointer;
}
.order-item option{
    background-color: #e3dde0;
}
.order-item img{
    width: 50px;
}
@media (max-width:1000px) {
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 50px;
    }
}